body{
    margin: 20px;

    

}
h1{
    
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    
   
    }
#servey-form{
    font-size: 20px;
    font-family: 'Bangers', cursive;
     background-image: linear-gradient(
      115deg,
      rgba(69, 163, 175, 0.8),
      #bfce88b3
    );
    height: auto;
    
    padding:10px;
    width: 30%;
    position: relative;
    left: 650px;
    border-radius: 10px;
    box-shadow: rgba(1, 1, 1, 0.25);
}
#myVideo{
    
    opacity:0.8 ;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height:100%;
}

.radio{
    margin-right: 50px;
}

#servey-form input {
    padding: 9px;
    border: 3px solid;
}
#name{
    width: 450px;
}
#password{
    width: 450px;
}    
p{
    text-align: center;
}
textarea{
    width: 450px;
    height: 100px;
    position: relative;
    left: 50px;

}

button{
    font-family:'Fontdiner Swanky', cursive;;
    position: relative;
    left: 80px;
  display: block;
  width: 400px;
  height: 40px;
  border-radius: 10px;
  background-color:rgba(119, 216, 156, 0.8);
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;

}

