body{
background-color:white;
border:30px solid black;
text-align:center;
margin-left:400px;
margin-right:400px;
}
.corn{
	display:inline-block;
	background-color:black;
	color:red;
	text-align:center;
	border:10px solid red;
	margin-top:20px;
	padding:40px;
	cursor:pointer;
}
.swa{
	background-color:black;
}
.law{
	background-color:pink;

}
