body{
	background:url(blue_img.jpg) no-repeat;
	background-size:cover;
	justify-content:center;
	display:block;
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
}
.container{
	position:relative;
	margin-top:100px;
	width:450px;
	height:auto;
	background:#dedede;
	border-radius:5px;
}
.main{
	padding:20px 100px;
	font-size:35px;
	font-weight:bold;
	color:blue;
	justify-content:center;
}
.login_form{
	padding:20px 15px;
	text-align:left;
}
.login_form .font{
	font-size:18px;
	color:#130f40;
	margin:5px 0;
}
.login_form input{
	height:40px;
	width:350px;
	padding:0 5px;
	font-size:18px;
	outline:none;
	border:1px solid silver;
	
}
.login_form .font1{
	margin-top:30px;
}
.login_form set4{
	margin:45px 0 30px 0;
	height:45px;
	width:350px;
	font-size:20px;
	color:white;
	outline:none;
	cursor:pointer;
	font-weight:bold;
	background:#1A237E;
	border-radius:3px;
	border:1px solid #3949AB;
	transition:.10s;
}
	.login_form button:hover{
		background:gray;
	}
	