#firstrow{
background-color: black;
color: white;
padding: 10px;
}
#firstcolom{
width: 75%;
min-height: 50px;
   border: 1px solid green;
  background-color: lightgray;
   margin-right: 25px;
margin-top: 10px;
padding: 10px;
}

#secondcolom{
    border: 1px solid green;
     position: absolute;
    padding: 10px;
 background-color:lightgray;
margin-right: 10px;
top: 150px;
left: 1200px;
width: 20%;
color: black;
}
#row{
     background-color:black;
     padding-top:10px;
     padding-right:300px;
    padding-bottom:10px;
    padding-left:500px;
   color:white;
}