body {
    background-color:grey;
  }
  
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }

#section1{
    
    background-repeat: no-repeat;
    background-image: url(img/2.jpg);
    background-size: cover;
    text-align: center;
    height: 400px;
    padding: 20px;
    
}

button{
    border-color:red;
    border-radius: 20px;
    color:white;
    padding: .5%;
    background: black;
    

}
button:hover{
    background:grey;
    transform: scale(1.2);
    transition: transform .5s ease-in;
    
}
#section1 h1,p{
    color:white;
} 
#section2 {
    background-color:lavenderblush;
    text-align: center;
    height: 250px;
    padding: 20px;

}
#section3{
    background-color: gray;
    height: 350px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    
}

#section3 .col{
    min-height: 300px;
    background-color: gray;
}

#img-hover1,#img-hover2,#img-hover3{
    
    height: 50%;
    width: 40%;
    padding-left: 30px;
    padding-top: 50px;

}
#img-hover1 h2{
    background-color: white;
    width: 250px;
    height: 300px;
   position: relative;
   left: 200px;
   bottom: 50px;
   padding-top: 20px;

    
}

#thirdColumn ,#secondColumn ,#firstColumn ,h2{
    background-color: yellowgreen;
    text-align: center;

}

.col{
    overflow: hidden;
}
.col img{

    transition: transform.5s ease;

}
.col:hover img{
    transform: scale(1.5);
}
#section4{
    background-color: seashell;
    height: 220px;
    padding: 70px;
}
#section4 h1{
    text-align: center;
}
#section4 p{
    text-align: center;
}
#section5{
    background-color: slateblue;
    display: grid;
    grid-template-columns: auto auto;
}
#section5 .col1{
    min-height: 200px;
    background-color: gray;
}
#section5 .col2{
    min-height: 200px;
    background-color:lightblue;
}
#column h1 ,h3 ,p {
    text-align: center;
}
#column1 h1 ,p {
    text-align: center;
}
